{% extends 'base.html.twig' %}

{% block title %}Modifier une disponibilité{% endblock %}

{% block body %}
    <h1>Modifier une disponibilité pour le véhicule {{ vehicle.brand }} {{ vehicle.model }}</h1>

    {{ form_start(form) }}

    {{ form_row(form.start_date, {
        'attr': {
            'class': 'form-control'
        }
    }) }}

    {{ form_row(form.end_date, {
        'attr': {
            'class': 'form-control'
        }
    }) }}

    {{ form_row(form.price_per_day, {
        'attr': {
            'class': 'form-control'
        }
    }) }}

    {{ form_row(form.status, {
        'attr': {
            'class': 'form-check-input'
        }
    }) }}

    {{ form_row(form.vehicle, {
        'attr': {
            'class': 'form-control'
        }
    }) }}

    <button type="submit" class="btn btn-primary mt-3">Enregistrer les modifications</button>

    {{ form_end(form) }}

{% endblock %}
